# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: '^syntastica-js/pkg/.*$'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: clippy
  - repo: https://github.com/adamchainz/pre-commit-dprint
    rev: v0.36.1
    hooks:
      - id: dprint
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: typos-dict-v0.9.26
    hooks:
      - id: typos
