name: Run Tests
on:
  push:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: write

env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Restore Cache
        uses: Swatinem/rust-cache@v2

      - name: Run Tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --features some,comments,to-regex,serde
